<div>
    <a href=""><img src="../../../assets/user-icon.png" id="user"></a>
    <a href="https://github.com/Vantorales" target="_blank"><img src="../../../assets/github-icon.png" id="github"></a>
    <a href="https://www.linkedin.com/in/vantorales/" target="_blank"><img src="../../../assets/linkedin-logo.png" id="linkedin"></a>
    <a href="https://twitter.com/isnotvan" target="_blank"><img src="../../../assets/twitter-logo.png" id="twitter"></a>
    <a href="https://www.instagram.com/vantorales/" target="_blank"><img src="../../../assets/Instagram_icon.png.webp" id="instagram"></a>
    <a href="https://www.facebook.com/Vantorales/" target="_blank"><img src="../../../assets/facebook-logo.png" id="facebook"></a>
</div>
