.row{
    background-color: #f3eef8;
}
.flexbox{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.justify-evenly{
    justify-content: space-evenly;
}
.box{
    padding: .5rem;
    border-radius: .25rem;
    box-shadow: 0 0 .5rem #333;
    overflow: hidden;
    background-color: white;
    cursor: pointer;
    margin: 8px;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
}
.box:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
} 
.col-3{
    width: 90%;
}
.float-left{
    float: left;
    margin-right: 1rem;
}
.w-100{
    width: 100%;
}
.h-100{
    height: 90%;
}
.max-300{
    max-width: 300px;
}