<div class="row">
    <h1>Hard skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'HTML'"
        [titleFontSize]="'1.5em'"
        [subtitle]="'85%'"
        [subtitleFontSize]="'1em'"
        [showSubtitle]="true"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#F77E21'"
        [innerStrokeColor]="'#F77E21'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [title]="'CSS'"
        [titleFontSize]="'1.5em'"
        [subtitle]="'80%'"
        [subtitleFontSize]="'1em'"
        [showSubtitle]="true"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#2978B5'"
        [innerStrokeColor]="'#2978B5'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [title]="'JAVASCRIPT'"
        [titleFontSize]="'1.5em'"
        [subtitle]="'60%'"
        [subtitleFontSize]="'1em'"
        [showSubtitle]="true"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#FEC260'"
        [innerStrokeColor]="'#FEC260'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [title]="'JAVA'"
        [titleFontSize]="'1.5em'"
        [subtitle]="'70%'"
        [subtitleFontSize]="'1em'"
        [showSubtitle]="true"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#820000'"
        [innerStrokeColor]="'#820000'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="40"
        [radius]="100"
        [title]="'NODE.JS'"
        [titleFontSize]="'1.5em'"
        [subtitle]="'40%'"
        [subtitleFontSize]="'1em'"
        [showSubtitle]="true"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#5BB318'"
        [innerStrokeColor]="'#5BB318'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="40"
        [radius]="100"
        [title]="'ANGULAR'"
        [titleFontSize]="'1.5em'"
        [subtitle]="'40%'"
        [subtitleFontSize]="'1em'"
        [showSubtitle]="true"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#C21010'"
        [innerStrokeColor]="'#C21010'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="true"
    ></circle-progress>
    </div>
    <h1>Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [title]="'Proactividad'"
        [titleFontSize]="'1.2em'"
        [subtitle]="'100%'"
        [subtitleFontSize]="'1em'"
        [showSubtitle]="true"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#D9D7F1'"
        [innerStrokeColor]="'#D9D7F1'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [title]="'Trabajo en equipo'"
        [titleFontSize]="'1.2em'"
        [subtitle]="'100%'"
        [subtitleFontSize]="'1em'"
        [showSubtitle]="true"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#FFFDDE'"
        [innerStrokeColor]="'#FFFDDE'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100 "
        [radius]="100"
        [title]="'Adaptabilidad'"
        [titleFontSize]="'1.2em'"
        [subtitle]="'100%'"
        [subtitleFontSize]="'1em'"
        [showSubtitle]="true"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#E7FBBE'"
        [innerStrokeColor]="'#E7FBBE'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100 "
        [radius]="100"
        [title]="'Comunicación'"
        [titleFontSize]="'1.2em'"
        [subtitle]="'100%'"
        [subtitleFontSize]="'1em'"
        [showSubtitle]="true"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#FFCBCB'"
        [innerStrokeColor]="'#FFCBCB'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100 "
        [radius]="100"
        [title]="'Curiosidad'"
        [titleFontSize]="'1.2em'"
        [subtitle]="'100%'"
        [subtitleFontSize]="'1em'"
        [showSubtitle]="true"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#D1E8E4'"
        [innerStrokeColor]="'#D1E8E4'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100 "
        [radius]="100"
        [title]="'Autodidacta'"
        [titleFontSize]="'1.2em'"
        [subtitle]="'100%'"
        [subtitleFontSize]="'1em'"
        [showSubtitle]="true"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#D0C9C0'"
        [innerStrokeColor]="'#D0C9C0'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="true"
    ></circle-progress>
    </div>
    
</div>
