<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto-perfil-v.jpg" class="img-fluid" id="perfil-ph">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Vanesa Alejandra <br>Torales</p>
        <p>Fullstack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Soy estudiante autodidacta, entusiasta y admiradora de la tecnología.
                Me considero una persona muy activa, creativa a la hora de generar soluciones, y por sobretodo tengo muchas ganas de desarrollarme y trabajar.
                Busco mi primera experiencia en el mundo IT, para ratificar, ampliar mis conocimientos adquiridos y así poder crecer tanto personal Y profesionalmente.
            </p>
        </span>
    </div>
</div>

