<div class="row" show flexbox justify-evenly>
    <h1>Educación</h1>
    <div class="card box col-1 min-300" style="width: 18rem;" >
        <img class="card-img-top w-100" src="../../../assets/egg-certificado.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title title">Programación fullstack con Java</h5>
          <p class="card-text">Institucion: Egg Educacion.</p>
          <p class="card-text">Año: 2021-2022.</p>
          <p class="card-text">Duración: 9 meses.</p>
        </div>
      </div>
      <div class="card box col-1 min-300" style="width: 18rem;">
        <img class="card-img-top w-100" src="../../../assets/comit-certificado.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title title">Programación fullstack con Node.Js</h5>
          <p class="card-text">Institucion: Comunidad It.</p>
          <p class="card-text">Año: 2021.</p>
          <p class="card-text">Duración: 3 meses.</p>
        </div>
      </div>
      <div class="card box col-1 min-300" style="width: 18rem;">
        <img class="card-img-top w-100" src="../../../assets/ap-etapa1-certificado.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title title">Argentina Programa #SéProgramar</h5>
          <p class="card-text">Institucion: Ministerio de Desarrollo Productivo.</p>
          <p class="card-text">Año: 2021.</p>
          <p class="card-text">Duración: 2 meses.</p>
        </div>
      </div>
      <div class="card box col-1 min-300" style="width: 18rem;">
        <img class="card-img-top w-100" src="../../../assets/desarrollo-ei-certificado.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title title">Desarollo Web con Html</h5>
          <p class="card-text">Institucion: Educación It.</p>
          <p class="card-text">Año: 2022.</p>
          <p class="card-text">Duración: 1 mes.</p>
        </div>
      </div>
</div>

