<div class="row">
    <h1>Experiencia</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Vendedora de ropa </h2>
                <h3>(2 años)</h3>
                <p>Emprendimiento familiar</p>
            </li>
            <li>
                <h2>Vendedora de perfumes </h2>
                <h3>(2 años)</h3>
                <p>Emprendimiento propio.</p>
            </li>
            <li>
                <h2>Maquetación de formularios con html </h2>
                <h3>(2 meses)</h3>
                <p>Explicabo corrupti itaque necessitatibus alias reprehenderit. Tempora!</p>
            </li>
        </ul>
    </div>
</div>
